COMPOSE_PROJECT_NAME=roseamor
APP_ENV=development
APP_PORT=8000
APP_SQLITE_PATH=/app/app/orders_app.db
TZ=America/Bogota
LOCAL_UID=1000
LOCAL_GID=1000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=roseamor_dw
POSTGRES_USER=roseamor_user
POSTGRES_PASSWORD=change_me
